@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

/*Header*/
.contenedor {
	max-width: 1500px;
	width: 90%;
	margin: auto;
	height: 100px;
}

.izquierda {
	float: left;
}

.derecha {
	float: right;
}
.imagen_logo {
	width: 100px;
	height: 90px;
	float: left;
	padding: 8px;
	margin-top: 5px;
	position: relative;
}

header {
	color:#000;
	background: #EFC241;
}

header .contenedor {
	overflow: hidden;
	height: 100px;
}

header .logo {
	max-width: 600px;
	padding: 0;
}

header .logo .nombre_header {
	color: #000;
	font-family: "Oswald", Arial, Sans-serif;
	font-size: 28px;
	margin: 15px 0 0 150px;
	width: 250px;
}

header .derecha ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .derecha ul li {
	line-height: 100px;
}

header .derecha ul li a {
	color: #000;
	display: block;
	padding: 0px 20px;
	font-size: 18px;
	transition: all .1s ease;
	position: relative;
}

header .derecha ul li a:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}

header .derecha ul li a .icono {
	margin-left: 10px;
	margin-right: 5px;
}


.check_btn{
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-with: 925px){
	header .logo {
		max-width: 400px;
		padding-left: 50px;
	}
	header .logo .nombre_header {
		font-size: 20px;
	}

	
	header .derecha ul li a {
		font-size: 16px;
	}
}

/*Responsive for header*/
@media (max-width: 500px){
	.check_btn{
		display: block;
		margin-right: 20px;
		height: auto;
		margin-top: 10px;
	}

	header .derecha ul{
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 100px;
		left: -100%;
		text-align: center;
		flex-direction: column;
		justify-content: space-evenly;
		transition: all .5s;
		z-index: 3;
	}
	header .derecha ul li{
		display: block;
		width: 100%;
	}

	header .derecha ul li a{
		font-size: 20px;

	}
	header .derecha ul li a:hover, a.active{
		background: none;
		color: #0082e6;
	}

	.contenedor input[type="checkbox"]:checked ~ .derecha ul{
		left: 0;
		z-index: 3;
	}

	.imagen_logo {
		position: absolute;
		width: 90px;
		height: 85px;

	}
	header .logo .nombre_header {
		font-size: 20px;
		position: absolute;
		margin: 25px 0 0 90px;
		width: 200px;

	}

}

@media (max-width: 800px) and (min-width:500px) {
	.check_btn{
		display: block;
		margin-right: 20px;
		height: auto;
		margin-top: 10px;
	}

	header .derecha ul{
		position: absolute;
		width: 100%;
		height: 90vh;
		background: #2c3e50;
		top: 100px;
		left: -100%;
		text-align: center;
		flex-direction: column;
		justify-content: space-evenly;
		transition: all .5s;
		z-index: 3;
	}
	header .derecha ul li{
		display: block;
		width: 100%;
	}

	header .derecha ul li a{
		font-size: 20px;

	}
	header .derecha ul li a:hover, a.active{
		background: none;
		color: #0082e6;
	}

	.contenedor input[type="checkbox"]:checked ~ .derecha ul{
		left: 0;
		z-index: 4;
	}

	.imagen_logo {
		position: absolute;
		width: 90px;
		height: 85px;

	}
	header .logo .nombre_header {
		font-size: 20px;
		position: absolute;
		margin: 25px 0 0 90px;
		width: 200px;

	}

}



/* Art Galery section*/

.contenedor {
	width: 90%;
	height: 100%;
	max-width: 1200px;
	margin: auto;
}


.logo {
	padding: 40px 0;
	text-align: center;
	margin-bottom: 10px;
}


.logo p {
	font-size: 20px;
	color: #000;
	font-family: 'Gloria Hallelujah', cursive;
}

.logo h1 {
	font-size: 50px;
}

.contenedor form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.contenedor form .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;

}

@media all and (max-width:800px){
	.contenedor form .barra-busqueda {
		width: 99%;
	}
}


.contenedor .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contenedor .categorias a {
	color: #9b9b9b;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

.contenedor .categorias a.activo {
	color: #000;
}


/*Grid  -----*/

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	margin-bottom: 150px;
	transition: opacity 0.5s linear 1s;
	min-height: 90%;
}

.grid.imagenes-cargadas {
	opacity: 1
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 20px;
	width: calc(33.333333% - 40px);

}

@media (max-width: 500px){
	.grid .item {
		position: absolute;
		display: block;
		padding: 0;
		margin: 5px;
		width: calc(100% - 10px);
		
	
	}

}



@media (max-width: 800px) and (min-width:500px) {
	.grid .item {
		position: absolute;
		display: block;
		padding: 0;
		margin: 10px;
		width: calc(50% - 20px);
		
	}


}


.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	min-height: 280px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 10px;
}

.grid .nombre-img {
	height: auto;
	min-height: 60px;
	text-align: center;
	width: 95%;
	background: #F5BA21;
	padding: 5px;
	margin: 5px auto;
	border-radius: 10px;
}

.grid .nombre-img p {
	font-size: 20px;
	
	font-family: 'Yusei Magic', sans-serif;
}

/*overlay*/

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 500px;
}

.overlay .contenedor {
	position: relative;
	display: block;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	max-width: 30%;
	font-family: 'Yusei Magic', sans-serif;
	max-height: 300px;
}

.overlay  .contenedor .subtitulos {
	font-weight: bold;
	font-size: 15px;
}

.overlay .descripcion {
	margin-bottom: 10px;
}

.overlay .nombre {
	margin-bottom: 10px;
}


.overlay .precio {
	margin-bottom: 10px;
}



.contenedor-img {
position: relative;
top: 100px;

}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border:none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -2px;
}


@media (max-width: 500px){
	.overlay img {
		max-width: 280px;
		margin-bottom: 40px;
	}

	.overlay.activo {
		height: 100%;
	}


	.overlay .contenedor {
		min-width: 280px;
		font-size: .8rem;
		padding: 10px;
	}

}


@media (max-width: 800px) and (min-width:500px) {
	.overlay img {
		max-width: 500px;
	}

	.overlay.activo {
		height: 100%;
	}


	.overlay .contenedor {
		min-width: 500px;
		font-size: .8rem;
		padding: 10px;
	}

}


/*footer section*/

footer .texto_footer {
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: 4px solid #323136;
	color: #fff;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	background: #3A393E;

}

footer .footer_2 {
	height: 150px;
	width: 100%;
	background: #3A393E;
	display: flex;
	align-items: center;
	justify-content: center;
}


footer .footer_2 a .face {
	width: 100px;
	height: 100px;
	background: #3A393E;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: #fff;
	list-style: none;
	border: 3px solid #000;
	margin-right: 50px;
	transition: all .3s ease;
}

footer .footer_2 a .face:hover {
	background: #fff;
	color: #3A393E;
	border: 0;
}

footer .footer_2 a .insta {
	width: 100px;
	height: 100px;
	background: #3A393E;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: #fff;
	list-style: none;
	border: 3px solid #000;
	margin-left: 50px;
	transition: all .3s ease;
}


footer .footer_2 a .insta:hover {
	background: #fff;
	color: #3A393E;
	border: 0;

}

footer .footer_2 a {
	text-decoration: none;
}


footer .pie_pagina {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #3A393E;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	width: 100%;
	height: 50px;
}


@media all and (max-width:800px){

	footer .texto_footer {
		font-size: 1em;
		height: auto;
	}

	footer .pie_pagina {
		text-align: center;
		font-size: .8em;

	}
}