@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	image-rendering:-moz-crisp-edges;          /* Firefox        */
image-rendering:-o-crisp-edges;            /* Opera          */
image-rendering:-webkit-optimize-contrast; /* Safari         */
image-rendering:optimize-contrast;         /* CSS3 Proposed  */
-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

body {
    background: #f2f2f2;
}

.contenedorGeneral {
    display: flex;
}

/* Lateral navbar-------------------------------*/
.contenedorGeneral header{
    height: 100vh;
    width: 12%;

}

.contenedorGeneral header .indices {
    height: 100%;
    width: 100%;
}

.contenedorGeneral header .indices .encabezado {
    display: flex;
    justify-content: center;
    background: #EFC241;
    align-items: center;
    font-family: "Oswald", Arial, Sans-serif;
    font-size: 30px;
    height: 10%;
}

.contenedorGeneral header .indices ul{    
    height: 100%;
    width: 100%;
}


.contenedorGeneral header .indices ul li{ 
    height: 18%;
    width: 100%;
}

.contenedorGeneral header .indices ul li a {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
    color: #fff;
    background: #1b2845;
    font-family: 'Open Sans', sans-serif;
}

.contenedorGeneral header .indices ul .flecha_derecha {
    position: absolute;
    left: 10%;
}

.contenedorGeneral header .indices ul li a:hover { 
    background: #5d7dc0;

}


.contenedorGeneral header .indices ul li a i {
    margin-right: 10%;
    font-size: 25px;
}

.check_btn{
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

@media (max-width: 1500px) and (min-width:1024px) { 
	.contenedorGeneral header .indices .encabezado {

	}
	.contenedorGeneral header .indices ul .flecha_derecha {
		display: none;
	}
	.contenedorGeneral header .indices ul li a i{
		margin-right: 8%;
		font-size: 15px;
	}
}
/*Responsive for header*/
@media (max-width: 500px){


    
    .contenedorGeneral header .indices {
        
        width: 100%;
    }

	.check_btn{
		display: block;
		margin-left: 30px;
		height: auto;
		
        position: absolute;
        z-index: 2;
	}
    
    .contenedorGeneral header {
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		
		left: -100%;
		text-align: center;
		flex-direction: column;
		justify-content: space-evenly;
		transition: all .5s;
        z-index: 1;
		
	}

    .contenedorGeneral header ul .encabezado .txt_child_one{
		display: none;
	}

	.contenedorGeneral header .indices ul li{
		display: block;
		width: 100%;
	}

	.contenedorGeneral header .indices ul li a{
		font-size: 20px;
		

	}

    
	.contenedorGeneral header .indices ul li a .flecha_derecha{
		display: none;

	}
	.contenedorGeneral header .indices ul li a:hover, a.active{
		background: none;
		color: #0082e6;
	}


    .contenedorGeneral input[type="checkbox"]:checked ~ header{
		left: 0;
		
	}
    

	

}

@media (max-width: 800px) and (min-width:500px) {

    .contenedorGeneral header .indices {
        
        width: 100%;
    }

	.check_btn{
		display: block;
		margin-left: 30px;
		height: auto;
		
        position: absolute;
        z-index: 2;
	}
    
    .contenedorGeneral header {
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		
		left: -100%;
		text-align: center;
		flex-direction: column;
		justify-content: space-evenly;
		transition: all .5s;
        z-index: 1;
		
	}

    .contenedorGeneral header ul .encabezado .txt_child_one{
		display: none;
	}

	.contenedorGeneral header .indices ul li{
		display: block;
		width: 100%;
	}

	.contenedorGeneral header .indices ul li a{
		font-size: 20px;
		

	}

    
	.contenedorGeneral header .indices ul li a .flecha_derecha{
		display: none;

	}
	.contenedorGeneral header .indices ul li a:hover, a.active{
		background: none;
		color: #0082e6;
	}


    .contenedorGeneral input[type="checkbox"]:checked ~ header{
		left: 0;
		
	}

}




/*formulario*/

.contenedorGeneral .contenido {
    height: 100vh;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.contenedorGeneral .contenido .tarj {
    width: 80%;
    height: 90%;
    background: #e9e3d8;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    justify-content: center;
    -webkit-box-shadow: 7px 2px 23px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 2px 23px 10px rgba(0,0,0,0.75);
    box-shadow: 7px 2px 23px 10px rgba(0,0,0,0.75);
}


.contenedorGeneral .contenido .tarj h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 45px;
    position: relative;
    
    left: -30%;
}

.contenedorGeneral .contenido .tarj .formulario {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    border-top: 4px solid #000;

}

.contenedorGeneral .contenido .tarj .formulario .derecha{
    width: 50%;
    height: 100%;
    padding: 20px;
}

.contenedorGeneral .contenido .tarj .formulario .izqu{
    width: 50%;
    height: 100%;
    padding: 20px;
}


.contenedorGeneral .contenido .tarj .formulario p {
    position: relative;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-items:center;
    font-weight: bold;
    left: 8px;
    
}


/*Input tipo text para poder obtener el id*/

.contenedorGeneral .contenido .tarj .formulario #id_text {
    display: none;
}
.contenedorGeneral .contenido .tarj .formulario .extra_img {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.contenedorGeneral .contenido .tarj .formulario .elemento {
    width: auto;
    height: auto;
    margin: 20px 0 20px 0;
    
}

.contenedorGeneral .contenido .tarj .formulario .precios .dot{
    font-size: 30px;
}


.contenedorGeneral .contenido .tarj .formulario .elemento input[type="text"] , input[type="email"] , input[type="password"]{
    width: 70%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
}


.contenedorGeneral .contenido .tarj .formulario  input[type="submit"] { 
    position: absolute;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background: #64CB59;
    display: flex;
    bottom: 10%;
    right: 15%;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    cursor: pointer;

}

.contenedorGeneral .contenido .tarj .formulario .descripcion { 
    width: 70%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    height: 50%;
}

.contenedorGeneral .contenido .tarj .formulario .ddl_categoria { 
    width: 70%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    height: 50%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contenedorGeneral .contenido .tarj .formulario input[type="number"]  { 
    width: 30%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    -moz-appearance: textfield;
}

.contenedorGeneral .contenido .tarj .errores {
    height: auto;
    width: auto;
    padding: 20px;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
}



@media (max-width: 500px){
    .contenedorGeneral .contenido {
        width: 100%;
        height: 100%;
    }

    .contenedorGeneral .contenido .tarj {
        width: 90%;
        padding: 10px;
        margin-top: 30%;
        margin-bottom: 20%;
    }


    .contenedorGeneral .contenido .tarj h1 {
        left: 0;
        font-size: 1.5em;
    }

    .contenedorGeneral .contenido .tarj .formulario {
        flex-direction: column;
        width: 100%;
    }

    .contenedorGeneral .contenido .tarj .formulario .derecha{
        width: 100%;
        padding: 10px;
    }

    .contenedorGeneral .contenido .tarj .formulario .izqu{
        width: 100%;
        padding: 10px;
    }

    .contenedorGeneral .contenido .tarj .formulario p {
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario .elemento input[type="text"] , input[type="email"] , input[type="password"]{
        width: 100%;
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario  input[type="submit"] { 
        position: inherit;

    }

    .contenedorGeneral .contenido .tarj .formulario .descripcion { 
        width: 100%;
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario .ddl_categoria { 
        width: 100%;
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario input[type="number"]  { 
        width: 45%;
    }

    .contenedorGeneral .contenido .tarj .errores {

    }

}


@media (max-width: 800px) and (min-width:500px) {
    .contenedorGeneral .contenido {
        width: 100%;
        height: 100%;
    }

    .contenedorGeneral .contenido .tarj {
        width: 80%;
        padding: 10px;
        margin-top: 20%;
        margin-bottom: 20%;
    }


    .contenedorGeneral .contenido .tarj h1 {
        left: 0;
        font-size: 1.5em;
    }

    .contenedorGeneral .contenido .tarj .formulario {
        flex-direction: column;
        width: 100%;
    }

    .contenedorGeneral .contenido .tarj .formulario .derecha{
        width: 100%;
        padding: 10px;
    }

    .contenedorGeneral .contenido .tarj .formulario .izqu{
        width: 100%;
        padding: 10px;
    }

    .contenedorGeneral .contenido .tarj .formulario p {
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario .elemento input[type="text"] , input[type="email"] , input[type="password"]{
        width: 100%;
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario  input[type="submit"] { 
        position: inherit;

    }

    .contenedorGeneral .contenido .tarj .formulario .descripcion { 
        width: 100%;
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario .ddl_categoria { 
        width: 100%;
        font-size: 1em;
    }

    .contenedorGeneral .contenido .tarj .formulario input[type="number"]  { 
        width: 45%;
    }

    .contenedorGeneral .contenido .tarj .errores {

    }
}


/*Seccion de los text box dinamicos*/

.contenedorGeneral .contenido .tarj .izqu input[type="text"] {
    

    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    
}

.contenedorGeneral .contenido .tarj .izqu .cointainer .btn-succes {
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
    height: 40px;
    width: 60px;
    background: #1098f7;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;

}

.contenedorGeneral .contenido .tarj .izqu .cointainer .btn-remove{
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
    height: 40px;
    width: 60px;
    background: #512947;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}


/*Personalizacion de boton de imagen */

.contenedorGeneral .contenido .tarj .izqu input[type="file"]{
    display: none;
}
.contenedorGeneral .contenido .tarj .izqu .elemento label{
    margin-top: 20px;
    color: #fff;
    height: 60px;
    width: 250px;
    background-color: #f5af09;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    cursor: pointer;
}



/*Preview de imagen*/

.contenedorGeneral .contenido .tarj .izqu .elemento .image-preview{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}


.contenedorGeneral .contenido .tarj .izqu .elemento .image-preview__image{
    display: none;
    max-width: 25%;
}


@media (max-width: 500px){
    .contenedorGeneral .contenido .tarj .izqu .elemento .image-preview__image{
        max-width: 100%;
    }
}

@media (max-width: 800px) and (min-width:500px) {
    .contenedorGeneral .contenido .tarj .izqu .elemento .image-preview__image{
        max-width: 60%;
    }
}

/*Succesfuly update popup */

.contenedorGeneral .contenido .confirmation {
    background: #fff;
    border-radius: 10px;
    border: 3px solid #000;
    border-top: 30px solid #000;
    width: 25%;
    height: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    padding: 60px 20px;
    text-align: center;
}

.contenedorGeneral .contenido .confirmation.remover {
    display: none;
}


.contenedorGeneral .contenido .confirmation i {
    position: absolute;
    font-weight: 20px;
    color: #fff;
    top: -27px;
    right: 10px;
    cursor: pointer;

}

@media (max-width: 500px){
    .contenedorGeneral .contenido .confirmation {
        width: 60%;
        height: 30%;
        padding: 30px 10px;
        bottom: 50px;
    }
}

@media (max-width: 800px) and (min-width:500px) {
    .contenedorGeneral .contenido .confirmation {
        width: 60%;
        height: 30%;
        padding: 30px 10px;
        bottom: 50px;
    }
}

