
	<header>
		<div class="contenedoor">
			<input type="checkbox" id="check" >
			<label for="check" class="check_btn">
				<i class="fas fa-bars"></i>
			</label>
			<div class="logo izquierda">
				<a href="../index.php"><img src="../img/Em.jpg" alt="" class="imagen_logo"></a>
				<div class="nombre_header">Láminas y Exvotos Mexicanos</div></a>
			</div>
			<div class="derecha">
				<ul>
					<li><a href="../index.php" id="btn-home"><i class="icono fas fa-home"></i>Inicio</a></li>
				</ul>
			</div>
		</div>
	</header>